.container{

    margin-bottom: 100px;
}

.orange-bg{

    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item{

    padding: 20px 40px;

}
.price{ 
    color: #ff136f;
}   /**price css**/
.buy-now-button{ /** price button css **/
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    colour: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.buy-now-button:hover {
    opacity: 0.6
}
.category1, .category2, .category3{
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}
.categories img{
    width: 100px;
}
.category1{ 
    background-color: orange;
    color: #fff;
}
.category2{
    background-color: orchid;
    color: #fff;
}
.category3{
    background-color: blue;
    color: #fff
}
.card1{

    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 15px lightgrey;
}
.card2 {
    
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 15px lightgrey;
}
.card3 {

    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 15px lightgrey;
}
.card4 {

    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 15px lightgrey;
}
#contactus{
    height: 300px;
}